.card {
  height: 320px;
}

:host >>> #main-swiper,
:host >>> #explore-swiper {
  position: relative;
}

:host >>> #main-swiper {
  background-color: #ccc;
  height: 650px;
  overflow: hidden;
}

:host >>> #explore-swiper {
  height: 340px;
  overflow: hidden;
}
