article {
  position: relative;
  height: 100vh;
  box-shadow: 1px 0 3px rgba(0,0,0,0.16), 1px 0 3px rgba(0,0,0,0.23);
  z-index: 5;
}

aside {
  padding: 0;
  height: 100vh;
  background-color: #ccc
}

input {
  background: transparent;
  border-color: transparent;
  border-radius: 4px!important;
}

loading {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 110px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

:host >>> #main-swiper {
  position: relative;
  background-color: #ccc;
  height: 100%;
  overflow: hidden;
}

:host >>> .swiper-pagination {
  padding-left:30px;
  text-align: left;
}

:host >>> .swiper-button-prev,
:host >>> .swiper-button-next {
  display: none;
}

.auth-contain {
  overflow: hidden;
}

.logo {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  height: 46px;
  background:transparent url('https://cdn.heystitch.io/web/common/images/logos/logotype-web.png') no-repeat center center;
  background-size: contain;
}

.error-contain {
  text-align: center;
  padding-bottom: 20px;
}

.form-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 350px;
  max-width: 450px;
  padding: 6em 4em;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.input-group-addon {
  border-color: transparent;
  background: transparent;
}

.nav-text {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.ng-dirty.ng-touched.ng-invalid {
  border-color: #ee3f4a;
}

.error-block p {
  display: block;
}
