.router-link-active {
  border-color: #51677a;
}

.navbar-btn-icon {
  position: relative;
}

.navbar-btn-icon.active:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 10px;
  height: 7px;
  width: 7px;
  border: 2px solid;
  border-radius: 50px;
}

.navbar-btn-icon-message.active:after {
  border-color: #39f;
}

.navbar-btn-icon-bell.active:after {
  border-color: #fb617f;
}

.navbar-links {
  padding-right: 10px;
}

.navbar-action-user-anon,
.navbar-action-user-auth,
.navbar-action-icon {
  border-left: 1px solid #eee;
}

.navbar-action-user-anon {
  padding-left: 25px;
}

.navbar-action-user-auth {
  padding-left: 20px;
}

.navbar-action-icon {
  padding: 0 7px;
}

.user-dropdown-toggle {
  margin: 13px 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.user-avatar {
  display: inline-block;
  height: 34px;
  border-radius: 6px;
}
